data/*
figures/*
new/*
manuscript/*
*.pdf
.DS_Store
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
_old
output
papers
Psydata.scriv
20\ Psydata.Rproj
scribble.R
copy_table.R
2019-01-23\ analysis*
*_cache
*_files
